.profile {
  padding-top: 35px;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "photo name-edit add"
    "photo job add";
  justify-items: start;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .profile {
    max-width: 580px;
  }
}

@media (max-width: 767px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 282px;
    }
}