.popup__close {
  background-image: url(../../../images/close-button.svg);
  background-color: rgba(255, 255, 255, 0);
  background-size: contain;
  padding: 0;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.popup__close:hover {
  opacity: 0.6;
}
@media (max-width: 767px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    }
}